@import "tailwindcss";
@config "../tailwind.config.js";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: oklch(44.12% 0.18 274.81);
  --color-accent: oklch(53.88% 0.166 146.08);
  --color-background: oklch(97.06% 0.003 110.42);
  --color-border: oklch(93.44% 0.009 29.23);
  --color-highlight: oklch(73.15% 0.232 73.77);
  --color-text: oklch(29.37% 0.032 29.03);
  --color-plain: oklch(100% 0 0);
  --color-alert: oklch(56.6% 0.245 29.23);
  --color-black: oklch(0% 0 0);
}
